body, html {
  /*margin: 0;*/
  background-color: #101010;
  height: 100%;
}

.page {
  display: table;
  height: 100%;
  width: 100%;
}
.page>div {
  display: table-cell;
  vertical-align: middle;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 0;
  opacity: 0;
}

.modal-msg {
  font-weight: bold;
  color: #aaa;
  text-shadow: 0px -1px 0px #000;
  text-align: center;
}

.modal.visible {
 -webkit-animation-name: fadeout;
 -webkit-animation-duration: 7s;
 -webkit-animation-fill-mode: forwards;
}

.modal.first-time {
 -webkit-animation-name: fadeout;
 -webkit-animation-duration: 20s;
 -webkit-animation-fill-mode: forwards;
}

#canny {
  background-color: #343434;
  margin: 0 auto;
  position: relative;
}

#canny .past {
  background-color: rgb(37, 37, 37);
  position: absolute;
}

#canny .current {
  background-color: rgb(255, 255, 255);
  position: absolute;
  height: 1px;
  width: 1px;
  -webkit-animation: heartbeat 1300ms ease 0s infinite normal;
}

#settings_form {
  margin: 0 auto;
  width: 300px;
  color: #bbb;
}

#settings_form input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.3em 0.5em;
  background-color: #333;
  border: none;
}

#settings_form input[type=submit] {
  /* Rectangle 7: */

  border-radius: 7px;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.13) 0%, rgba(115,115,115,0.00) 9%, rgba(0,0,0,0.00) 90%, rgba(0,0,0,0.14) 100%),
                    linear-gradient(-180deg, #3B3B3B 0%, #1D1D1D 100%);
  border: 1px solid #000000;

  padding: 0.6em;
  text-shadow: 0px -1px 0px #000;
  outline: none;
  margin-top: 1em;
}

#settings_form input:active[type=submit] {
  background-image: none;
  background-image: linear-gradient(-180deg, #3B3B3B 0%, #1D1D1D 100%);
}

#settings_form p {
  font-size: 0.8em;
  color: #666;
}

/* thanks to http://codepen.io/jlong/pen/KBhDf */
@-webkit-keyframes heartbeat {
  0%  { opacity: 0.1; }
  14% { opacity: 1; }
  28% { opacity: 0.1; }
  42% { opacity: 1; }
  70% { opacity: 0.1; }
  100%{ opacity: 0.1; }
}